# File Types
##################
*.pyc
.DS_Store
.session

# Specific files #
#################
venv
.idea/
.env
.env.pytest
.env.backup
.session
apartment_bot/search/chromedriver
apartment_bot/db.sqlite
apartment_bot/db.sqlite3
apartment_bot/static
apartment_bot/media

